<launch>
  <arg name="model" default="$(find agv_description)/urdf/multiple_agv.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find agv_description)/rviz/urdf.rviz" />
</launch>